# Dev dependencies from uv.lock

librt==0.7.4; platform_python_implementation != "PyPy"
mypy==1.19.1
mypy-extensions==1.1.0
pandas-stubs==2.3.3.251201
pathspec==0.12.1
ruff==0.14.10
types-pytz==2025.2.0.20251108